<div class="row">
  <div class="col-md-3">
    <h3><%= @place.name %></h3>
    <p>
      <strong>Name:</strong>
      <%= @place.name %>
    </p>

    <p>
      <strong>Address:</strong>
      <%= @place.address %>
    </p>
    <div id="map-canvas" style="width: 230px; height: 230px;"></div>  

    <p>
      <strong>Description:</strong>
      <%= @place.description %>
    </p>

    <p>
      <strong>Phone:</strong>
      <%= @place.phone %>
    </p>

    <p>
      <strong>Website:</strong>
      <%= @place.website %>
    </p>
  </div>

  <div class="col-md-9">
    <h3>Reviews by People</h3>
  </div>
  <%= render 'reviews/form' %>
  <h4>Visitor reviews</h4>
  <%= render @reviews %>
</div>





<!-- p>
  <strong>User:</strong>
  <%= @place.user_id %>
</p-->

<p>
  <%= @place.longitude %>
  <%= @place.latitude %>
</p>


<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>

